html {     
  background: url(eckva.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
	
body {
  text-align: center;
  font-size:20px;
}
        
center {
  display: block;
  text-align: -webkit-center;
}

a {
  font-weight: bold;
}