<!DOCTYPE html>
<html>
  <head>
    <title>Aono-kun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../aonoStyle.css">
  </head>
  <body>
<div id="container">
<div id="headerArea">
<div id="header"></div>
<nav id="navbar" style="margin-bottom: 0px;">
    <ul>
        <li><a href="../thoughts/">Thoughts</a></li>
        <li><a href="../arts/">Arts</a></li>
        <li><a href="../others/">Other Arts</a></li>
    </ul>
</nav>
</div>

<div id="flex">
                
<main>{{ content | safe }}</main>        
</div>
<footer id="footer"><a href="../../sitemap/">click to return to sitemap</a></footer>
</div>
</body>
</html>