<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ cssFile }}" />
    <title>{{ title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
  <style>@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');</style>
  </head>
  <body>
    <main>{{ content | safe }}</main>
  </body>
</html>