<ul class="sillies">
    <li>
    <img alt="Early aught's advert: Comdex Report 2002." src="../keypages/comdex2002.jpg">
    </li>
    <li>
    <img alt="Same vein: Building Your Own PC." src="../keypages/buildYourPC.jpg">
    </li>
    <li>
    <a href="../../s/e/c/r/e/t"><img alt="GIF: Intel techwire newsletter advert." class="freezeframe" src="../keypages/intel.gif"></a>
    </li>
    <li>
    <img alt="GIF: Two month trial for faster internet." class="freezeframe" src="../keypages/twoMonthsFree.gif">
    </li>
</ul>