/* selector */

::-moz-selection { /* Code for Firefox */
  color: #222222;
  background: #cba6f7;
}

::selection {
  color: #222222;
  background: #cba6f7;
}

a::selection {
  color: #000000;
}

html {background-color: #4E387E;
    
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

body {
    font-size: 16px;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

/* footer nav */

footer {
    font-size: 1em;
    padding-bottom: 15px;
}

.alignleft {
    float: left;
}

.alignleft::before {
    content: "Return";
    display: block;
    text-transform: uppercase;
}

.alignright {
    float: right;
}

.alignright::before {
    content: "Next";
    display: block;
    text-align: end;
    text-transform: uppercase;
}

/* semantic stuff */

a {
    font-weight:600;
    color: #B23E9E;
}

hr {
  border: solid #B23E9E;
  border-width: 2px 0 0 0;
}

p {
    line-height:1.6em;
    color:#444;
    margin-bottom: 0;
}

p + p {text-indent: 2em;}

img:not(:first-child) {margin-top: 1em;}

p:last-of-type {margin-bottom:1em;}

span {opacity: 0.8;
font-style: italic;}

img {
  max-width: 100%;
  height: auto;
  image-rendering: auto;
  
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

h1 {
 font-size:30px;
 font-weight:900;
 line-height:1.1em;
 margin-bottom: 0;
 color:#222
}

h2, h3, h4, h5 {
    color:#222;
    line-height:1.1;
    font-weight:700;
    margin-bottom: 0;
    margin-top: 0;
}

h1, h2, h3, h4, h6 {
    font-family: "Comfortaa", cursive;
}

details {margin-top:1em;}

/* Classes up there */

.caption {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}   

/* Flexbox here */

.flex-all {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 800px;
    min-height: 600px;
}

/* bar at top*/
.flex-ui {
    display: flex;
    height: 53px;
}

.flex-ui-left { /* LEFT */
    background: url(pink_ui_left.png);
    width: 12px;
    height: 53px;
}

.flex-ui-middle { /* MIDDLE */
    background-color: #FFBDF7;
    height: 53px;
    box-shadow: 0px 4px 0px #FFE7FF inset;
    flex-grow: 1;
}

.flex-ui-right { /* RIGHT */
    background: url(pink_ui_right.png);
    width: 163px;
}
/* begin meat of content */ 
.flex-writings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F8F8F8;
    flex-grow: 1;
    box-shadow: inset 0 0 0 5px #FFC0D7, inset 0 0 0 10px #CA62C1;
    padding: 20px;
}

/* on desktop */
@media only screen and (min-width: 800px) {
    html {
    background: url(buildings_scaled_3x_pngcrushed.png);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    
    .flex-writings {
        padding: 20px 56px 10px 56px;
    }
    
    body {font-size: 18px;}
    h1 {font-size: 36px;}
    
    .flex-all {
        margin: 0 auto;
    } 
}