/* GRID GALLERY */
    
.cont-fullbody {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    }

.cont-fullbody > div {
    width: 174px;
    height: 349px;
/*  background: blue;*/  
    display: flex;
    align-items: center;
    justify-content: center;
    }

.cont-multimedia {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    }

.cont-multimedia > div {
    width: 350px;
    height: 350px;
/*  background: blue;*/  
    display: flex;
    align-items: center;
    justify-content: center;
    }

/* SEMANTICS */

html {background-color: #737994;}

body {
    font-size: 16px;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

/* semantic stuff */

a {
    font-weight:600;
    color: #B23E9E;
}

hr {
  border: solid #B23E9E;
  border-width: 2px 0 0 0;
}

p {
    line-height:1.6em;
    margin-bottom: 0;
}

h1 {
 font-size:30px;
 font-weight:900;
 line-height:1.1em;
 margin-bottom: 0;
 font-family: "Comfortaa", cursive;
 color:#222
}

/* Flexbox here */

.flex-all {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 1000px;
    min-height: 600px;
}

/* bar at top*/
.flex-ui {
    display: flex;
    height: 53px;
}

.flex-ui-left { /* LEFT */
    background: url(./pics/teal_ui_left.png);
    width: 12px;
    height: 53px;
}

.flex-ui-middle { /* MIDDLE */
    background-color: #76B6CE;
    height: 53px;
    box-shadow: 0px 4px 0px #AFDAE1 inset;
    flex-grow: 1;
}

.flex-ui-right { /* RIGHT */
    background: url(./pics/teal_ui_right.png);
    width: 163px;
}
/* begin meat of content */ 
.flex-writings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f5fbff;
    flex-grow: 1;
    box-shadow: inset 0 0 0 5px #76B6CE, inset 0 0 0 10px #3D73B1;
    padding: 20px;
}

/* on desktop */
@media only screen and (min-width: 800px) {
    
    .flex-writings {
        padding: 20px 56px 10px 56px;
    }
    
    body {font-size: 18px;}
    h1 {font-size: 36px;}
    
    .flex-all {
        margin: 0 auto;
    } 
}