/*************
* If you are look at this style sheet
* I am so, so sorry
* I don't know what I was doing here
*************/

/**/

@media (prefers-color-scheme: dark) {
  /* CSS here will only be shown to users who prefer dark mode */
  .buttons {background: var(--ctp-mocha-mantle);}
  .buttons:hover {background: var(--ctp-latte-surface1);
    color: hsl(230, 10%, 90%);}
  p {color: var(--ctp-mocha-lavender);}
  footer {background-color: var(--ctp-latte-lavender);}
  body {color: var(--ctp-mocha-text);
  background-color: var(--ctp-mocha-base);}
  strong {color: var(--ctp-mocha-peach);}
  h1 {color: var(--ctp-mocha-mauve);}
  h2 {color: var(--ctp-mocha-pink);}
  a {color: var(--ctp-mocha-lavender);}
  ::-moz-selection { /* Code for Firefox */
  color: var(--ctp-mocha-crust);
  background: var(--ctp-mocha-red);
}

::selection {
  color: var(--ctp-mocha-crust);
  background: var(--ctp-mocha-rosewater);
}
}

@media (prefers-color-scheme: light) {
  /* CSS here will only be shown to users who prefer light mode */
  .buttons {background: var(--ctp-mocha-mantle);}
  .buttons:hover {background: var(--ctp-mocha-surface1);
    color: var(--ctp-latte-surface1);}
  p {color: var(--ctp-latte-lavender);}
  footer {background-color: var(--ctp-macchiato-sapphire);}
  body {color: var(--ctp-latte-text);
  background-color: var(--ctp-latte-base);}
  strong {color: var(--ctp-latte-peach);}
  h1 {color: var(--ctp-latte-mauve);}
  h2 {color: var(--ctp-latte-pink);}
  a {color: var(--ctp-latte-lavender);}
  ::-moz-selection { /* Code for Firefox */
  color: var(--ctp-latte-crust);
  background: var(--ctp-latte-red);
}

::selection {
  color: var(--ctp-latte-text);
  background: var(--ctp-latte-rosewater);
}
}
/**/

.buttons {   
cursor:pointer;
border: none;
width: 140px;
margin-top: 8px;
margin-bottom: 8px;
border-radius: 3px;
padding: 12px 28px;
color: #FFF;
text-align:center;
}

.buttons:hover {
    background: var(--ctp-mocha-surface1);
}

/* Freezeframe Styling*/

.stamps55 img {
        width: 99px;
        height: 55px;
      }

.stamps56 img {
        width: 99px;
        height: 56px;
      }

.blinkies img {
    width: 150px;
    height: 20px;
}

.buttons_88x31 {
display: flex;
flex-wrap: wrap;
gap: 2px;
align-items: center;
justify-content: center;
}

.buttons_88x31 img {
    width: 88px;
    height: 31px;
}

/*********************************
* Honeycomb Stamp Layouts by Moo *
* Free to use/modify w/ credit   *
* http://mooeena.neocities.org   *
* 11 widths and 2 preset layouts *
* To use: include the classes    *
* "honeycomb hc-[PICK LAYOUT]"   *
* to your images' container div. *
*********************************/
.honeycomb { display: grid;
             grid-auto-rows: 28px;
             gap: 30px 18px;
             padding: 0 32px 56px 0;
             justify-content: center;}

.hc-2 { grid-template-columns: repeat(2, 32px); } /*Infinite-length section 2 stamps wide*/
.hc-3 { grid-template-columns: repeat(3, 32px); } /*Infinite-length section 3 stamps wide*/
.hc-4 { grid-template-columns: repeat(4, 32px); } /*Infinite-length section 4 stamps wide*/
.hc-5 { grid-template-columns: repeat(5, 32px); } /*Infinite-length section 5 stamps wide*/
.hc-6 { grid-template-columns: repeat(6, 32px); } /*Infinite-length section 6 stamps wide*/
.hc-7 { grid-template-columns: repeat(7, 32px); } /*Infinite-length section 7 stamps wide*/
.hc-8 { grid-template-columns: repeat(8, 32px); } /*Infinite-length section 8 stamps wide*/
.hc-9 { grid-template-columns: repeat(9, 32px); } /*Infinite-length section 9 stamps wide*/
.hc-10 { grid-template-columns: repeat(10, 32px); } /*Infinite-length section 10 stamps wide*/
.hc-11 { grid-template-columns: repeat(11, 32px); } /*Infinite-length section 11 stamps wide*/
.hc-12 { grid-template-columns: repeat(12, 32px); } /*Infinite-length section 12 stamps wide*/
.hc-mini { grid-template-columns: repeat(3, 32px); padding-bottom:28px;} /*Hexagonal group of max 7 stamps*/
.hc-hive { grid-template-columns: repeat(7, 32px); padding-bottom:28px;} /*Oval-shaped group of max 17 stamps*/
/*The following concern the interlocking pattern of the grids:*/
.hc-2 > :nth-child(2n+1), .hc-4 > :nth-child(2n+1), .hc-6 > :nth-child(2n+1), .hc-8 > :nth-child(2n+1), .hc-10 > :nth-child(2n+1), .hc-12 > :nth-child(2n+1) { margin-top: 28px; }
.hc-3 > :nth-child(6n+1), .hc-3 > :nth-child(6n+3), .hc-3 > :nth-child(6n+4), .hc-3 > :nth-child(6n) { margin-top: 28px; }
.hc-5 > :nth-child(10n+1), .hc-5 > :nth-child(10n+3), .hc-5 > :nth-child(10n+5), .hc-5 > :nth-child(10n+6), .hc-5 > :nth-child(10n+8), .hc-5 > :nth-child(10n) { margin-top: 28px; }
.hc-7 > :nth-child(14n+1), .hc-7 > :nth-child(14n+3), .hc-7 > :nth-child(14n+5), .hc-7 > :nth-child(14n+7), .hc-7 > :nth-child(14n+8), .hc-7 > :nth-child(14n+10), .hc-7 > :nth-child(14n+12), .hc-7 > :nth-child(14n) { margin-top: 28px; }
.hc-9 > :nth-child(18n+1), .hc-9 > :nth-child(18n+3), .hc-9 > :nth-child(18n+5), .hc-9 > :nth-child(18n+7), .hc-9 > :nth-child(18n+9), .hc-9 > :nth-child(18n+10), .hc-9 > :nth-child(18n+12), .hc-9 > :nth-child(18n+14), .hc-9 > :nth-child(18n+16), .hc-9 > :nth-child(18n) { margin-top: 28px; }
.hc-11 > :nth-child(22n+1), .hc-11 > :nth-child(22n+3), .hc-11 > :nth-child(22n+5), .hc-11 > :nth-child(22n+7), .hc-11 > :nth-child(22n+9), .hc-11 > :nth-child(22n+11), .hc-11 > :nth-child(22n+12), .hc-11 > :nth-child(22n+14), .hc-11 > :nth-child(22n+16), .hc-11 > :nth-child(22n+18), .hc-11 > :nth-child(22n+20), .hc-11 > :nth-child(22n) { margin-top: 28px; }
.hc-mini > :nth-child(1), .hc-mini > :nth-child(3), .hc-mini > :nth-child(4), .hc-mini > :nth-child(6) { margin-top: 28px; }
.hc-mini > :nth-child(7) { grid-area: 3/2; }
.hc-hive > :nth-child(1), .hc-hive > :nth-child(3), .hc-hive > :nth-child(5), .hc-hive > :nth-child(7), .hc-hive > :nth-child(8), .hc-hive > :nth-child(10), .hc-hive > :nth-child(12), .hc-hive > :nth-child(14) { margin-top: 28px; }
.hc-hive > :nth-child(15) { grid-area: 3/2; }
.hc-hive > :nth-child(16) { grid-area: 3/4; }
.hc-hive > :nth-child(17) { grid-area: 3/6; }

/* pictures up here */

footer {position: sticky;
        z-index: 99;
        bottom: 0;
        text-align: center;}

/* for sticky footer*/


/* */
        
body {
    font-family: 'Roboto Mono', serif;
}

h1,h2 {
    font-family: 'Rubik', serif;
}

h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
        
h2 {
    margin-top:10px;
    margin-bottom:10px;
}
        
p {
    line-height: 1.5;
    text-align: left;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

a {
    font-weight: 600;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media only screen and (min-width: 825px) {
center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 825px;
}
    
h1 {font-size: 60px;}
h2 {font-size: 40px;}
}